fos_elastica:
    serializer:
        callback_class: Rs\IssuesBundle\Elastica\Callback
    indexes:
        projects:
            client: default
            finder: ~
            types:
                project: ~
                issue:
                    _parent:
                        type: "project"
                    mappings:
                        id:
                            type: string
