fos_elastica:
    serializer: ~
    indexes:
        projects:
            client: default
            finder: ~
            types:
                project: ~
                issue:
                    _parent:
                        type: "project"
